<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tính tiền phòng trọ</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .dirty {
            border-color: #5A5;
            background: #EFE;
        }
        
        .dirty:focus {
            outline-color: #8E8;
        }
        
        .error {
            border-color: red;
            background: #FDD;
        }
        
        .error:focus {
            outline-color: #F99;
        }
    </style>
</head>

<body>
    <div id="app" class="flex items-center justify-center w-full h-screen">
        <div class="w-full max-w-xs mx-auto">
            <form class="bg-white shadow-md rounded border px-8 pt-6 pb-8 mb-4">
                <h3 class="text-gray-700 text-xl font-bold mb-5">Tính tiền nhà 28/6D</h3>
                <div v-if="step === 1">
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                            Tiền nhà
                        </label>
                        <input v-model.number="$v.form.roomRental.$model" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" :class="{ 'error': $v.form.roomRental.$error }" id="roomRental" type="number">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="electricity">
                            Tiền điện
                        </label>
                        <input v-model.number="$v.form.electric.$model" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" :class="{ 'error': $v.form.electric.$error }" id="electricity" type="number">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="water-money">
                            Tiền nước
                        </label>
                        <input v-model.number="$v.form.water.$model" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" :class="{ 'error': $v.form.water.$error }" id="water-money" type="number">
                    </div>
                    <label class="inline-flex items-center text-gray-700 text-sm font-bold mb-2">
                        <input type="checkbox" class="form-checkbox" name="checkbox" value="1"
                            @change="checkOrther = !checkOrther">
                        <span class="ml-2">Tiền khác</span>
                    </label>
                    <div v-if="checkOrther">
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="orther-money">
                                Tiền khác
                            </label>
                            <input v-model.number="$v.form.orther.$model" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" :class="{ 'error': $v.form.orther.$error }" id="orther-money" type="number">
                        </div>
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="orther-note">
                                Ghi chú
                            </label>
                            <textarea v-model.number="$v.form.note.$model" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" :class="{ 'error': $v.form.note.$error }" id="orther-note" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="flex items-center justify-between">
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" @click="submit">
                            Tiếp theo
                        </button>
                        <button class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800 focus:outline-none" @click="resetForm" type="button">
                            Reset
                        </button>
                    </div>
                </div>
                <!-- End step 1 -->
                <div v-if="step === 2">
                    <div class="mb-4 flex items-center justify-between">
                        <p class="text-gray-700 text-lg font-bold">Tổng tiền</p>
                        <p>{{ totalMoney | toCurrency }}</p>
                    </div>
                    <div class="mb-4 flex items-center justify-between">
                        <p class="text-gray-700 text-lg font-bold">Chia ra</p>
                        <p>{{ totalMoney/7 | toCurrency }}</p>
                    </div>
                    <div class="flex items-center justify-between">
                        <button class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" @click="prev">
                            Quay lại
                        </button>
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" @click="next">
                            Tiếp theo
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="./js/vue.js"></script>
    <script src="https://unpkg.com/vuelidate@0.7.5/dist/vuelidate.min.js"></script>
    <script src="https://unpkg.com/vuelidate@0.7.5/dist/validators.min.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>